// @template: header.php
//
//
// Navbar styles

.navbar {
  border: none;

  &-brand {
    font-size: 24px;
  }

  &-inverse {
    .form-control {
      color: #fff;
      @include placeholder($navbar-inverse-link-color);

      &[type=text] {
        @include box-shadow(inset 0 -1px 0 $navbar-inverse-link-color);

        &:focus {
          @include box-shadow(inset 0 -2px 0 #fff);
        }
      }
    }
  }

  &-nav > li > .dropdown-menu {
    margin-top: 2px;
  }
}

// @template numerous
//
//
// tab styles

.nav-tabs {
  & > li > a {
    border: none;
    margin-right: 0;
    color: $navbar-default-link-color;
    @include box-shadow(inset 0 -1px 0 #ddd);
    @include transition(all 0.2s);

    &:hover {
      background-color: transparent;
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      color: $brand-primary;
    }
  }

  & > li.active > a {
    border: none;
    @include box-shadow(inset 0 -2px 0 $brand-primary);
    color: $brand-primary;

    &:hover {
      border: none;
      color: $brand-primary;
    }
  }

  & > li.disabled > a {
    @include box-shadow(inset 0 -1px 0 #ddd);
  }

  &.nav-justified {

    & > li > a,
    & > li > a:hover,
    & > .active > a,
    & > .active > a:hover {
      border: none;
    }
  }

  .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-menu {
  border: none;
  @include box-shadow(0 1px 4px rgba(0,0,0,.3));
}

// @template: header.php
//
//
//

#site-header {
  
  background-color: $brand-primary;
  
  a {
    
    color: white;
    
  }
  
  .site-logo {
    
    margin-top: 5px;
    
  }
  
}