body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1em;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

a {
  @include transition(all 0.2s);
}

// @template: numerous
//
// Blockquotes inside articles with the well class
// are made a pale blue to make the quote standout

article.well blockquote {
  
  background-color: #C9E6F9;
  
}

// @template: numerous
//
// A heading class that uses the brand colour for background with white text
// Within a well, it provides the look of another well by using the background colour
// to createa seperation. It is therefore best used to create the look of multiple wells
// in a template page

.h-branding {
  
  background-color: $brand-primary;
  color: white;
  padding: 10px 20px;
  margin-left: -21px;
  margin-right: -21px;
  border-top: 10px solid $body-bg;
  
}


// @template: numerous (posts, single titles, pages etc. )
//
// White text with blue block around it. removes well padding
//

h1.entry-title {
  
  margin-top: -21px;
  margin-left: -20px;
  font-size: 35px;
  margin-right: -20px;
  background-color: $brand-primary;
  padding: 20px;
  color: white;
  
}